div.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  background: -moz-linear-gradient(top,  rgba(68,68,68,0.5) 0%, rgba(10,10,10,1) 100%), url('https://dl.dropboxusercontent.com/s/2sg0c9z0cr7fpsu/IMG_20160327_070426.jpg') no-repeat center center scroll;
  background: -webkit-linear-gradient(top,  rgba(68,68,68,0.5) 0%,rgba(10,10,10,1) 100%), url('https://dl.dropboxusercontent.com/s/2sg0c9z0cr7fpsu/IMG_20160327_070426.jpg') no-repeat center center scroll;
  background: linear-gradient(to bottom,  rgba(68,68,68,0.5) 0%,rgba(10,10,10,1) 100%), url('https://dl.dropboxusercontent.com/s/2sg0c9z0cr7fpsu/IMG_20160327_070426.jpg') no-repeat center center scroll;
  background-size: cover;

  h1 {
    margin: 5vmin auto 0 5vmin;
    text-transform: uppercase;
    font-weight: 700;
    color: #aaa;
    font-size: 4vmin;
    letter-spacing: 2vmin;
    padding: 0;
  }
  h3 {
    margin: 0 auto 0 5vmin;
    text-transform: uppercase;
    font-weight: 300;
    color: #888;
    font-size: 4vmin;
    letter-spacing: 2vmin;
    padding: 0;
  }
}

img.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 25vmin;
  flex: 0 0 auto;
  margin: auto auto 2vmin auto;
  user-select: none;
  -webkit-user-select: none;
  padding: 2vmin;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  margin: auto 5vmin 5vmin auto;

  li {
    flex: 1;
    margin: auto 3vmin;
    color: #666;
    font-size: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.25vmin;
    transition: 100ms ease-out;
    padding: 5px;
    box-sizing: border-box;

    i {
      font-size: 3vmin !important;
      margin-bottom: 1vmin;
    }

    &:hover {
      color: #aaa;
      border-bottom: 3px solid #aaa;
      padding-top: 2px;
      cursor: pointer;
      transition: 100ms ease-out;
    }
  }
}
