div.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  background: -moz-linear-gradient(right,  rgba(68,68,68,0.5) 0%, rgba(10,10,10,1) 100%), url('https://dl.dropboxusercontent.com/s/ai4mv920oaes0ut/IMG_20160322_153224.jpg') no-repeat center center scroll;
  background: -webkit-linear-gradient(right,  rgba(68,68,68,0.5) 0%,rgba(10,10,10,1) 100%), url('https://dl.dropboxusercontent.com/s/ai4mv920oaes0ut/IMG_20160322_153224.jpg') no-repeat center center scroll;
  background: linear-gradient(to left,  rgba(68,68,68,0.5) 0%,rgba(10,10,10,1) 100%), url('https://dl.dropboxusercontent.com/s/ai4mv920oaes0ut/IMG_20160322_153224.jpg') no-repeat center center scroll;
  background-size: cover;

  h1 {
    margin: 5vmin auto 0 5vmin;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 10vmin;
    line-height: 1;
    letter-spacing: 2vmin;
    padding: 0;

    @include media-query ($on-palm) {
      font-size: 15vmin;
    }
  }
  h3 {
    margin: 0 auto 0 5vmin;
    text-transform: uppercase;
    font-weight: 200;
    color: #ddd;
    font-size: 10vmin;
    line-height: 1;
    letter-spacing: 2vmin;
    padding: 0;

    @include media-query ($on-palm) {
      font-size: 15vmin;
    }
  }
  p {
    margin: 1vmin auto 0 5vmin;
    color: #555;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2vmin;
    max-width: 40vmin;

    @include media-query ($on-palm) {
      font-size: 4vmin;
      max-width: 65vmin;
    }
  }
}


ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  margin: auto auto 5vmin 5vmin;

  li {
    flex: 1;
    margin: auto 5vmin auto 0;
    color: #555;
    font-size: 2vmin;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 100ms ease-out;
    box-sizing: border-box;

    @include media-query ($on-palm) {
      font-size: 3vmin !important;
    }

    i {
      font-size: 3vmin !important;
      @include media-query ($on-palm) {
        font-size: 5vmin !important;
      }

    }

    &:hover {
      color: #aaa;
      border-bottom: 3px solid #aaa;
      padding-top: 2px;
      cursor: pointer;
      transition: 100ms ease-out;
    }
  }
}
